
MicroBlink.bundle/IDCard.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/IDCard@2x.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/Info.plist filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/PPbeep.wav filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/en.strings filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/ocr_model.zzip filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchoff.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchoff@2x.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchoff_pressed.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchoff_pressed@2x.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchon.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchon@2x.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchon_pressed.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.bundle/torchon_pressed@2x.png filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Info.plist filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/MicroBlink filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Modules filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/MicroBlink.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBarDecoderRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBarDecoderRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBarcodeDetailedData.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBaseOverlayViewController.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBlinkBarcodeRecognizers.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPBlinkIDRecognizers.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPCameraSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPCoordinator.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDateOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDetectionStatus.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDetectorRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDetectorRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDetectorResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDetectorSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDocumentDecodingInfo.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDocumentDetectorResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDocumentDetectorSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPDocumentSpecification.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPEmailOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPIbanOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPImageMetadata.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPLicenseSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMetadata.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMetadataSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMicroBlinkDefines.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPModernBaseOverlayViewController.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPModernOcrResultOverlaySubview.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPModernViewfinderOverlaySubview.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMrtdDetectorResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMrtdDetectorSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMrtdRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMrtdRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMultiDetectorResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMultiDetectorSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMyKadRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPMyKadRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrEngineOptions.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrFont.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrLayout.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOcrResultOverlaySubview.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOverlaySubview.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPOverlayViewController.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPPdf417RecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPPdf417RecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPPriceOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPQuadDetectorResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPQuadDetectorSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPQuadrangle.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPRawOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPRegexOcrParserFactory.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPScanDelegate.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPScanSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPScanningViewController.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPTextMetadata.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPUiSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPUkdlRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPUkdlRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPUsdlRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPUsdlRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPZXingRecognizerResult.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Headers/PPZXingRecognizerSettings.h filter=lfs diff=lfs merge=lfs -text
MicroBlink.framework/Modules/module.modulemap filter=lfs diff=lfs merge=lfs -text
